body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --signal-black: #1b1b1d;
  --pure-white: #FFFFFF;
  --neon-green: #41b66d;
  --dark-grey: #2e2e36;

  background-color: var(--signal-black);
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
}

h1,
h2,
div {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 100px;
}

.main {
  width: 50%;
  margin: 7em auto 0;
  height: 60vh;
  padding: 3em 0;
}

.form-title {
  color: white;
  text-align: center;
  letter-spacing: 6px;
}

.password-input {
  background-color: var(--dark-grey);
  outline: none;
  border: none;
  padding: 15px 12px;
  width: 70%;
  margin: 0 auto 0 0;
  font-size: 20px;
  color: white;
  display: block;
}

input[type='submit'] {
  padding: 10px 12px;
  width: 50%;
  margin: 3em auto;
  background-color: var(--neon-green);
  color: black;
  font-size: 20px;
  display: block;
}

input[type='submit']:hover {
  cursor: pointer;
}

input[type='range'] {
  margin-top: 1em;
  width: 50%;
}

.strength-indicator {
  display: inline-block;
  width: 10px;
  height: 20px;
  border: 1px solid var(--pure-white);
  margin-right: .5em;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  align-items: flex-start;
  flex-direction: column;
  margin-top: 3em;
}

.settings-checkbox {
  margin-top: 2em;
}

span {
  font-size: 24px;
}

h2 {
  margin-top: 2em;
}

.password-container {
  height: 70px;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.clipboard-icon {
  width: 24px;
  height: 24px;
}

.clipboard-icon:hover {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 20px;
  margin-left: 1em;
}

.clipboard-container {
  border: 1px solid var(--dark-grey);
  min-width: 170px;
  max-width: 170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 20px;
}

.range-input-container {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.header-link {
  color: white;
  font-size: 24px;
  transition: 0.33s ease-in-out;
  text-decoration: none;
  margin-right: 1em;
}

.header-link:hover {
  color: var(--neon-green);
}